html {
    height: 100%;
}

.card {
  border: none;
}

.bg-image-list {
  position: fixed;
  left: 0;
  right: 0;

  filter: blur(20px);
  -webkit-filter: blur(20px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;

  filter: blur(20px);
  -webkit-filter: blur(20px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #191919!important;
}

.text-dark {
  color: #191919!important;
}

.text-dark a {
  color: #191919!important;
}

.links:hover {
  background-color: #313131!important;
}

.links {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #404040;
}

.socials li a:hover {
  color: #f8f9fc;
  text-decoration: none;
}

.socials .icons a {
  color: #fff;
}

.website a {
  color: #fff;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

.img-select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.copy-to-clipboard {
  font-size: 1.4rem;
  padding: 3px 10px;
  position: absolute;
  top: 15px;
  right: 30px;
  background: #19191980;
  border-radius: 5px;
  opacity: 50%;
}

.copy-to-clipboard:hover {
  opacity: 100%
}