input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.btn-accent {
    color: #fff;
    background-color: #ff916b;
    border-color: #ff916b;
}

.btn-accent:hover {
    color: #fff;
    background-color: #ff703f;
    border-color: #ff703f;
}

.a-white a {
    padding-left: 0;
    color: #fff;
    list-style: none;
}

.a-white a:hover {
    color: #fff;
    text-decoration: underline;
}