

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Banner */

	#banner {
		padding: 8em 0;
	}

		#banner h2 {
			font-size: 2.5em;
		}

/* Footer */

	#footer {
		padding: 4em 0;
	}