<nav class="navbar navbar-expand-md bg-dark navbar-dark px-5 py-1 fixed-top">
    <a class="navbar-brand" href="/"><i class="icon-bayza"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item">
        <a class="nav-link{% if page.path == 'index.md' %} active{% endif %}" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.path contains 'releases' %} active{% endif %}" href="/releases">Releases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#music">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>       
      </ul>
    </div>  
  </nav>