    <nav id="navbar" class="navbar navbar-expand-md navbar-dark px-4 py-2 fixed-top smart-scroll">
      <a class="navbar-brand" href="/">
        <img src="/svg/bayza-logo.svg" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link{% if page.path == 'index.md' %} active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link{% if page.path contains 'releases' %} active{% endif %} dropdown-toggle" id="navbardrop" href="/releases" data-toggle="dropdown">Releases</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/releases/all">All</a>
            <a class="dropdown-item" href="/releases/all-bootlegs">Bootlegs</a>
            <a class="dropdown-item" href="/releases/2022">2023</a>
            <a class="dropdown-item" href="/releases/2022">2022</a>
            <a class="dropdown-item" href="/releases/2021">2021</a>
            <a class="dropdown-item" href="/releases/2020">2020</a>
            <a class="dropdown-item" href="/releases/2019">2019</a>
            <a class="dropdown-item" href="/releases/2018">2018</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://lnk.bayza.ml" target="_blank">Fanlinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>       
        </ul>
      </div>  
    </nav>