<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.artists }} - {{ page.title }}</title>
    <!-- Metadatos -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="{{ page.title }},{{ page.artists }}"/>
    <meta name="description" content="{{ page.artists }}"/>

    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="https://bayzamusic.com/{{ page.link }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ page.artists }}"/>
    <meta property="og:image" content="{{ page.image_secure }}"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:image:alt" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.artists }}"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ page.image_secure }}"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.artists }}"/>
    <meta name="twitter:site" content="@bayzamusic"/>

    <!-- Recursos -->
    <link rel="icon" type="image/png" href="/images/bayza-logo-black.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/bayza-logo-black.png"/>
    <link rel="stylesheet" href="https://yizack.com/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"/>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/emoji.css"/> <!-- https://afeld.github.io/emoji-css/ -->
    <link rel="stylesheet" href="/css/links.css" />
  </head>
  <body id="page-top" class="bg-dark">
    <div class="bg-image" style="background-image: url('{{ page.image_secure }}')"></div>
    <div class="container text-white">
      <div class="row">
        <div class="mx-auto col-lg-4">
          <div class="card o-hidden my-3 p-0 border-dark bg-dark">
            <div class="row">
              <div class="col-lg-12">
                <!-- cover -->
                <img class="img-fluid mx-auto d-block img-select-none" src="{{ page.image_secure }}" width="100%">
                <!-- titulo -->
                <div class="p-4">
                  <div class="text-center">
                    <h5><b>{{ page.title }}</b></h5>
                    <h6 class="mb-0">{{ page.artists }}</h6>
                  </div>
                </div>
              </div>{% if page.album %}
              <!-- full album -->
              <a class="row links text-white" href="/{{ page.album }}" target="_blank" title="Full Album">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/{{ page.album }}.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">View</span>
                </div>
              </a>{% endif %}{% if page.ep %}
              <!-- full ep -->
              <a class="row links text-white" href="/{{ page.ep }}" target="_blank" title="Full EP">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/{{ page.ep }}.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">View</span>
                </div>
              </a>{% endif %}{% if page.piano %}
              <!-- piano version -->
              <a class="row links text-white" href="/{{ page.piano }}" target="_blank" title="Piano Version">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/{{ page.piano }}.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">View</span>
                </div>
              </a>{% endif %}{% if page.spotify %}
              <!-- spotify -->
              <a class="row links text-white" href="{{ page.spotify }}" target="_blank" title="Stream on Spotify">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/spotify.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.apple %}
              <!-- apple music -->
              <a class="row links text-white" href="{{ page.apple }}" target="_blank" title="Stream on Apple Music">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/apple-music.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.soundcloud %}
              <!-- soundcloud -->
              <a class="row links text-white" href="{{ page.soundcloud }}" target="_blank" title="Stream on Soundcloud">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/soundcloud.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.youtube %}
              <!-- youtube -->
              <a class="row links text-white" href="{{ page.youtube }}" target="_blank" title="Play on Youtube">
                <div class="col-6 pl-5 py-4"> 
                  <img class="mx-auto d-block" src="/images/youtube.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Play</span>
                </div>
              </a>{% endif %}{% if page.beatport %}
              <!-- beatport -->
              <a class="row links text-white" href="{{ page.beatport }}" target="_blank" title="Buy on Beatport">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/beatport.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Buy</span>
                </div>
              </a>{% endif %}{% if page.itunes %}
              <!-- itunes -->
              <a class="row links text-white" href="{{ page.itunes }}" target="_blank" title="Buy on iTunes">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/itunes.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Buy</span>
                </div>
              </a>{% endif %}{% if page.bandcamp %}
              <!-- bandcamp-->
              <a class="row links text-white" href="{{ page.bandcamp }}" target="_blank" title="Buy on Bandcamp">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/bandcamp.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Buy</span>
                </div>
              </a>{% endif %}{% if page.deezer %}
              <!-- deezer -->
              <a class="row links text-white" href="{{ page.deezer }}" target="_blank" title="Stream on Deezer">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/deezer.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.amazon-music %}
              <!-- amazon music -->
              <a class="row links text-white" href="{{ page.amazon-music }}" target="_blank" title="Stream on Amazon Music">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/amazon-music.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.amazon %}
              <!-- amazon -->
              <a class="row links text-white" href="{{ page.amazon }}" target="_blank" title="Buy on Amazon">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/amazon.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Buy</span>
                </div>
              </a>{% endif %}{% if page.yandex %}
              <!-- yandex -->
              <a class="row links text-white" href="{{ page.yandex }}" target="_blank" title="Stream on Yandex Music">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/yandex.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.tidal %}
              <!-- tidal -->
              <a class="row links text-white" href="{{ page.tidal }}" target="_blank" title="Stream on Tidal">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/tidal.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Stream</span>
                </div>
              </a>{% endif %}{% if page.tiktok %}
              <!-- tiktok -->
              <a class="row links text-white" href="{{ page.tiktok }}" target="_blank" title="Use Sound on TikTok">
                <div class="col-6 pl-5 py-4">
                  <img class="mx-auto d-block" src="/images/tiktok.png" width="100%"/>
                </div>
                <div class="col-6 pr-5 py-4 text-center my-auto">
                  <span class="btn btn-outline-light">Use Sound</span>
                </div>
              </a>{% endif %}{% if page.download %}
              <!-- free download -->
              <div class="col-lg-12 mt-3">
                <a href="{{ page.download }}" type="button" class="btn btn-primary btn-lg btn-block text-white rounded-0" target="_blank" title="Free Download on Toneden">Free Download <i class="fas fa-download"></i></a>
              </div>{% endif %}
            </div>
          </div>
        </div>
        <div class="mx-auto col-lg-12 socials text-center h4">
          <ul class="icons my-2">
            <li>
              <a href="https://open.spotify.com/artist/0UFz5jBFwlNKaq1JwESYnX" target="_blank"><i class="fab fa-spotify{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
            <li>
              <a href="https://soundcloud.com/bayza" target="_blank"><i class="fab fa-soundcloud{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
            <li>
              <a href="https://youtube.com/bayza" target="_blank"><i class="fab fa-youtube{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/bayzamusic" target="_blank"><i class="fab fa-twitter{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
            <li>
              <a href="https://facebook.com/bayzamusic" target="_blank"><i class="fab fa-facebook{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
            <li>
              <a href="https://instagram.com/bayzamusic" target="_blank"><i class="fab fa-instagram{% if page.dark == true %} text-dark{% endif %}"></i></a>
            </li>
          </ul>
        </div>
        <div class="mx-auto col-lg-12 text-center h5 website{% if page.dark == true %} text-dark{% endif %}">
          <a href="https://bayzamusic.com" title="fanlinks">bayzamusic.com</a>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cc91b92ca8.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/tema.js"></script>
  </body>
</html>