{%- assign sorted = site.data.releases | sort: 'date' | reverse -%}
{%- assign releases = site.data.releases | where: "type", "Releases" -%}
<html lang="en">
  <head>
    <title>Bayza</title>
    
    <!-- Metadatos -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="bayza, dj, producer, panama, music, EDM, dance, musician, artist, ahmed" />
    <meta name="description" content="Bayza is a Panamanian musician and producer."/>
    <meta  name="simpledcver"  content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkb21haW4iOiJiYXl6YW11c2ljLmNvbSIsImV4cCI6MTYxNzIzNTIwMH0.g2tQazk_Phg_M_Nlr-uDSejhboItQDfmEbeL05dIVm0">
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="https://bayzamusic.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bayza"/>
    <meta property="og:site_name" content="Bayza"/>
    <meta property="og:image" content="https://bayzamusic.com/images/logomt-sq-300.jpg"/>
    <meta property="og:image:alt" content="Bayza cover image"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:description" content="Bayza is a Panamanian musician and producer."/>
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Bayza Music"/>
    <meta name="twitter:description" content="Bayza is a Panamanian musician and producer."/>
    <meta name="twitter:image" content="https://bayzamusic.com/images/logomt.jpg"/>
    <meta name="twitter:site" content="@bayzamusic"/>

    <!-- Recursos -->
{% include resources.html %}
    <link rel="canonical" href="https://bayzamusic.com/"/>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@graph": [
          {
            "@type" : "WebSite",
            "name" : "Bayza",
            "url" : "https://bayzamusic.com",
            "image" : "http://bayzamusic.com/images/logomt.jpg"
          },
          {
            "@type" : "Organization",
            "name" : "Bayza",
            "url" : "https://bayzamusic.com",
            "logo" : "http://bayzamusic.com/images/logomt.jpg",
            "image" : "http://bayzamusic.com/images/ahmed_bannerweb3.jpg",
            "member":[
              {
                "@type": "Person",
                "name": "Ahmed Rangel",
                "birthDate": "1998-06-15"
              }
            ],
            "description": "Bayza is a Panamanian musician and producer."
          },
          {
            "@type" : ["Person","MusicGroup"],
            "@id":"https://musicbrainz.org/artist/7b200a18-08d4-4d29-b0ce-ba6cd0a9b5e4",
            "name" : "Bayza",
            "alternateName": "Ahmed Rangel",
            "url" : "http://bayzamusic.com",
            "image" : "http://bayzamusic.com/images/logomt.jpg",
            "description": "Bayza is a Panamanian musician and producer.",
            "birthDate": "1998-06-15",
            "birthPlace":
            {
              "@type":"AdministrativeArea",
              "@id":"https://musicbrainz.org/area/e4038ab2-0e15-4987-855a-adf4f0878645",
              "name":"Panamá",
              "containedIn":
                {
                  "@type":"Country",
                  "@id":"https://musicbrainz.org/area/6f85633b-dff4-3fb4-babd-fb89b3628041",
                  "name":"Panama"
                }
            },
            "sameAs" :[
              "https://youtube.com/bayza",
              "https://soundcloud.com/bayza",
              "https://facebook.com/bayzamusic",
              "https://twitter.com/bayzamusic",
              "https://instagram.com/bayzamusic"
            ]
          }
        ]
      }
    </script>
  </head>
  <body>
{% include navbar.html %}

    <section id="dark" class="cabecera text-white py-5">
      <div class="container pt-4 cabecera-adjust" style="overflow-x: hidden;">
        <div class="row">
          <div class="col-12 col-md-6 text-left d-none d-md-block" data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <h1 class="display-4 mt-3 text-uppercase">Bayza</h1>
            <h4 class="my-3 font-weight-light">Panamanian music producer</h4>
            <h5 class="mb-4 font-weight-light"><span>Contact: </span><a class="text-white" href="mailto:info@bayzamusic.com" target="_blank">info@bayzamusic.com</a></h5>
          </div>
          <div class="col-12 col-md-12 text-center d-block d-md-none" data-aos="zoom-in" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <h1 class="display-4 mt-3 text-uppercase">Bayza</h1>
            <h4 class="my-3 font-weight-light">Panamanian music producer</h4>
            <small><p class="mb-4"><span>Contact: </span><a class="text-white" href="mailto:info@bayzamusic.com" target="_blank">info@bayzamusic.com</a></p></small>
          </div>
          <div class="col-12 col-md-6 row text-right px-0 align-items-center" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <div class="col-12 col-md-7 d-none d-md-block pr-0 text-secondary">
              <h5>Latest Release:</h5>
              <a target="_self" class="latest-release-title text-white" href="/releases/{{ releases.last.year }}{{ releases.last.link }}/{{ releases.last.release }}" onmouseover="onhoverover('textDecoration')" onmouseout="onhoverout('textDecoration')">
                <style>
                  .release-color:hover {
                    color: #fff!important;
                  }
                </style>
                <h3 class="font-weight-light">{{ releases.last.title }}</h3>
              </a>
              <div><h5 class="font-weight-light" >by {{ releases.last.artists }}</h5></div>
              <small><p class="mb-0 mt-1">{{ releases.last.date | date: "%b %-d, %Y" }}</p></small>
            </div>
            <div class="col-12 col-md-5 d-none d-md-block p-0" onmouseover="onhoverover('textDecoration')" onmouseout="onhoverout('textDecoration')" onclick="lnk('/releases/{{ releases.last.year }}{{ releases.last.link }}/{{ releases.last.release }}')">
              <div class="mr-0 text-left px-2">
                <img id="covers" class="mx-auto d-flex w-100" src="https://bayzamusic.com/images/releases/{{ releases.last.year }}/{{ releases.last.cover }}.jpg" alt="" style="max-width:230px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="latest releases" class="bg-darkest">
      <div class="container text-secondary py-5 text-center" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white">Recent Music</h3>
        <h5 class="font-weight-light">Check out my latest releases</h5>
        <div class="row my-4 text-left">
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <div class="upcoming-container">
                  <img class="img-fluid scale-on-hover upcoming" src="https://bayzamusic.com/images/releases/2022/lunchbox-friends.jpg">
                  <div class="centered">
                    <h4>Upcoming</h4>
                    <small><h5>Dec 9, 2022</h5></small>
                  </div>
                </div>
                  <h5 class="mb-0"><small><p class="mb-0 mt-2">Lunchbox Friends</p></small></h5>
                  <small><p class="mb-4">Bayza, Staarz</p></small>
              </div>
            </div>
          </div>
          {% for item in sorted %} 
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <a href="/releases/{{ item.year }}{{ item.link }}/{{ item.release }}">
                  <div class="overflow-hidden">
                    <img id="covers" class="img-fx img-fluid release-color-covers scale-on-hover" src="https://bayzamusic.com/images/releases/{{ item.year }}/{{ item.cover }}.jpg" alt="{{ item.artists }} - {{ item.title }}">
                  </div>
                  <h5 class="mb-0" style="font-size: 1.25rem;"><small><p class="mb-0 mt-2">{{ item.title }}</p></small></h5>
                </a>
                <small><p class="mb-0">{{ item.artists }}</p></small>
                <small><p class="mb-4">{{ item.date | date: "%b %-d, %Y" }}</p></small>
              </div>
            </div>
          </div>{% if forloop.index0 == 10 %}{% break %}{% endif %}{% endfor %}
        </div>  
        <a class="btn btn-outline-releases px-4 py-1" href="/releases/all" data-aos="flip-left">See all releases</a>
      </div>
    </section>
    <section id="music" class="bg-dark text-secondary text-center py-5">
      <div class="container" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white">Listen</h3>
        <h5 class="font-weight-light">Stream/Buy my music on your favorite platform</h5>
        <div class="mt-4 d-flex flex-wrap justify-content-center">
          <div class="m-1">
            <a class="icons-fx text-white platform-icons spotify_card rounded-circle" href="https://open.spotify.com/artist/0UFz5jBFwlNKaq1JwESYnX" target="_blank" title="Spotify">
              <span class="fab fa-spotify fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>Spotify</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons soundcloud_card rounded-circle" href="https://soundcloud.com/bayza" target="_blank" title="SoundCloud">
              <span class="fab fa-soundcloud fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>SoundCloud</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons youtube_card rounded-circle" href="https://youtube.com/c/bayza" target="_blank" title="YouTube">
              <span class="fab fa-youtube fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>YouTube</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons itunes_card rounded-circle" href="https://music.apple.com/us/artist/bayza/882647839?app=itunes&ls=1" target="_blank" title="iTunes Store">
              <span class="iconify fa-fw" data-icon="el:star" aria-hidden="true"></span>
              <span class='sr-only'>iTunes Store</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons apple_card rounded-circle" href="https://music.apple.com/us/artist/bayza/882647839?app=music&ls=1" target="_blank" title="Apple Music">
              <span class="fab fa-itunes-note fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>Apple Music</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons beatport_card rounded-circle" href="https://www.beatport.com/artist/bayza/411994" target="_blank" title="Beatport">
              <span class="iconify fa-fw" data-icon="simple-icons:beatport" aria-hidden="true"></span>
              <span class='sr-only'>Beatport</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons deezer_card rounded-circle" href="https://www.deezer.com/en/artist/6003758" target="_blank" title="Deezer">
              <span class="fab fa-deezer fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>Deezer</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons amazon-music_card rounded-circle" href="https://music.amazon.com/artists/B00KX8ETU6/bayza" target="_blank" title="Amazon Music">
              <span class="fab fa-amazon fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>Amazon Music</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons tidal_card rounded-circle" href="https://tidal.com/browse/artist/6374717" target="_blank" title="Tidal">
              <span class="iconify fa-fw" data-icon="simple-icons:tidal" aria-hidden="true"></span>
              <span class='sr-only'>Tidal</span>
            </a>
          </div> 
          <div class="m-1">
            <a class="icons-fx text-white platform-icons yandex_card rounded-circle" href="https://music.yandex.com/artist/3753809" target="_blank" title="Yandex Music">
              <span class="fab fa-yandex fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>Yandex Music</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons vk_card rounded-circle" href="https://vk.com/artist/bayza" target="_blank" title="VKontakte">
              <span class="fab fa-vk fa-fw" aria-hidden="true"></span>
              <span class='sr-only'>VKontakte</span>
            </a>
          </div>
          <div class="m-1">
            <a class="icons-fx text-white platform-icons anghami_card rounded-circle" href="https://play.anghami.com/artist/1414847" target="_blank" title="Anghami">
              <span class="fab fa-anghami fa-fw" aria-hidden="true">
                <img src='/svg/anghami-logo.svg' width='83.5%'>
              </span>
              <span class='sr-only'>Anghami</span>
            </a>
          </div> 
        </div>
        <div class="row text-white">
          <div class="col-lg-6">
            <div class="mt-4">
              <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO0tCEnL?utm_source=generator&theme=0" width="95%" height="500" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mt-4">
              <iframe width="95%" height="500" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/38787166&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true&amp;show_teaser=true&amp;visual=false"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="yt_videos" class="bg-darkest text-secondary text-center py-5">
      <div class="container" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white">VIDEOS</h3>
        <h5 class="font-weight-light">Featured youtube videos</h5>
        <div class="row text-white">
          <div class="col-lg-6 mt-4">
            <div class="video-container">
              <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/nQ0A1WWxuFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="video-container">
              <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/gqnAPRtTnSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="video-container">
              <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/-vx3oZ4j4h0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="video-container">
              <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/BwKO7sfFVAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="bg-dark text-secondary text-center py-5">
      <div class="container" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white">About</h3>
        <div class="row">
          <div class="col-lg-8 my-3 font-weight-light text-justify">
            <p>
              Ahmed Rangel, also known as 
              <b><a href="https://open.spotify.com/artist/0UFz5jBFwlNKaq1JwESYnX" target="_blank" title="Bayza Spotify">Bayza</a></b>, is a <span id="age"></span> years old electronic/dance music producer from La Chorrera, Panama <i class="em em-flag-pa" aria-role="presentation" aria-label="Panama Flag"></i>.
            </p>
            <p>
              His very first steps with music comes  in 2014 releasing a big room house music during many years. It was until 2017 when he transitioned his style to melbourne bounce. In 2019 he finds himself in deep house style which fits him perfectly. He started making remixes of famous pop songs, then in September 2019 he self-released his first album named Genuine. In 2020 Bayza mainly focused on producing deep house with slap house influence and you should looking forward for his coming tunes.
            </p>
            <p>
              In 2021 Bayza is hitting his very first 1M plays on Spotify with his <b><a href="https://bayzamusic.com/releases/2020/everythingiwanted" target="_blank" title="Everything I Wanted | Bayza">Everything I Wanted</a></b>'s cover. 
            </p>
            <p>
              He has currently signed tracks with Records Labels such as
              "<b><a href="https://instagram.com/bounceunited" target="_blank" title="Bounce United's Instagram">Bounce United</a></b>, 
              <b><a href="https://www.youtube.com/channel/UCoo_WkQMj2h-WFi7nBQjtyw" target="_blank" title="Miss DeepShine's YouTube Channel">DeepShine Records</a></b>, 
              <b><a href="https://instagram.com/palmtherapysounds" target="_blank" title="Palm Therapy Sounds's Instagram">Palm Therapy Sounds</a></b>, 
              <b><a href="https://instagram.com/onesevenmusic" target="_blank" title="One Seven Music's Instagram">One Seven Music</a></b>, 
              <b><a href="https://instagram.com/frqncy_official" target="_blank" title="FRQNCY's Instagram">FRQNCY</a></b>, 
              <b><a href="https://instagram.com/thenightdrive_nd" target="_blank" title="The Night Drive's Instagram">The Night Drive</a></b>, 
              <b>Melodicity Recordings</b>, 
              <b><a href="https://www.instagram.com/miamibeats" target="_blank" title="Miami Beats's Instagram">Miami Beats</a></b>, 
              <b><a href="https://www.instagram.com/stormmusicgroup" target="_blank" title="Storm's Instagram">Storm Music Group</a></b>, 
              <b><a href="https://www.instagram.com/differenttwinsrecords" target="_blank" title="Storm's Instagram">Different Twins Records</a></b>,".
            </p>
          </div>
          <div class="col-lg-4 text-center"><img id="covers" class="img-fluid shadow" src="/images/bayza-about.jpg"></div>
        </div>
      </div>
    </section>
{% include footer.html %}
{% include scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script>
      $(document).ready(function() {
        const now = new Date();
        const birth = new Date("June 15, 1998 00:00:00");
        const diff = Math.abs(now - birth);
        const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25)); 
        console.log(now);
        console.log(birth);
        document.getElementById('age').innerHTML = age;
      }); 

    function onhoverover(textDecoration) {
      document.getElementsByClassName('latest-release-title')[0].style.textDecoration = "underline";
    }
    function onhoverout(textDecoration) {
      document.getElementsByClassName('latest-release-title')[0].style.textDecoration = "none";
    }
    function lnk(url) {
	    window.open(url, '_self');
    }
    </script>
  </body>
</html>