{%- assign sorted = site.data.releases | sort: 'date' | reverse -%}
{%- assign releases = site.data.releases | where: "type", "Releases" -%}
<html lang="en">
  <head>
    <title>Bayza</title>
    <!-- Metadatos -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="bayza, dj, producer, panama, music, EDM, dance, musician, artist, ahmed" />
    <meta name="description" content="Bayza is a Panamanian musician and producer."/>
    
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="https://bayzamusic.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bayza"/>
    <meta property="og:site_name" content="Bayza"/>
    <meta property="og:image" content="https://bayzamusic.com/images/logomt-600x400.jpg"/>
    <meta property="og:image:alt" content="Bayza cover image"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="200"/>
    <meta property="og:description" content="Bayza is a Panamanian musician and producer."/>
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Bayza"/>
    <meta name="twitter:description" content="Bayza is a Panamanian musician and producer."/>
    <meta name="twitter:image" content="https://bayzamusic.com/images/logomt.jpg"/>
    <meta name="twitter:site" content="@bayzamusic"/>

    <!-- Recursos -->
{% include resources.html %}
    <link rel="canonical" href="https://bayzamusic.com/"/>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@graph": [
          {
            "@type" : "WebSite",
            "name" : "Bayza",
            "url" : "https://bayzamusic.com",
            "image" : "http://bayzamusic.com/images/logomt.jpg"
          },
          {
            "@type" : "Organization",
            "name" : "Bayza",
            "url" : "https://bayzamusic.com",
            "logo" : "http://bayzamusic.com/images/logomt.jpg",
            "image" : "http://bayzamusic.com/images/ahmed_bannerweb3.jpg",
            "member":[
              {
                "@type": "Person",
                "name": "Ahmed Rangel",
                "birthDate": "1998-06-15"
              }
            ],
            "description": "Bayza is a Panamanian musician and producer."
          },
          {
            "@type" : ["Person","MusicGroup"],
            "@id":"https://musicbrainz.org/artist/7b200a18-08d4-4d29-b0ce-ba6cd0a9b5e4",
            "name" : "Bayza",
            "alternateName": "Ahmed Rangel",
            "url" : "http://bayzamusic.com",
            "image" : "http://bayzamusic.com/images/logomt.jpg",
            "description": "Bayza is a Panamanian musician and producer.",
            "birthDate": "1998-06-15",
            "birthPlace":
            {
              "@type":"AdministrativeArea",
              "@id":"https://musicbrainz.org/area/e4038ab2-0e15-4987-855a-adf4f0878645",
              "name":"Panamá",
              "containedIn":
                {
                  "@type":"Country",
                  "@id":"https://musicbrainz.org/area/6f85633b-dff4-3fb4-babd-fb89b3628041",
                  "name":"Panama"
                }
            },
            "sameAs" :[
              "https://youtube.com/bayza",
              "https://soundcloud.com/bayza",
              "https://facebook.com/bayzamusic",
              "https://twitter.com/bayzamusic",
              "https://instagram.com/bayzamusic"
            ]
          }
        ]
      }
    </script>
  </head>
  <body>
{% include navbar.html %}
    <section id="dark" class="cabecera text-white py-5">
      <div class="container pt-4 cabecera-adjust" style="overflow-x: hidden;">
        <div class="row">
          <div class="col-12 col-md-6 text-left d-none d-md-block" data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <h1 class="display-4 mt-3 text-uppercase">Bayza</h1>
            <h4 class="my-3 font-weight-light">Panamanian music producer</h4>
            <h5 class="mb-4 font-weight-light"><span>Contact: </span><a class="text-white" href="mailto:info@bayzamusic.com" target="_blank">info@bayzamusic.com</a></h5>
          </div>
          <div class="col-12 col-md-12 text-center d-block d-md-none" data-aos="zoom-in" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <h1 class="display-4 mt-3 text-uppercase">Bayza</h1>
            <h4 class="my-3 font-weight-light">Panamanian music producer</h4>
            <small><p class="mb-4"><span>Contact: </span><a class="text-white" href="mailto:info@bayzamusic.com" target="_blank">info@bayzamusic.com</a></p></small>
          </div>
          <div class="col-12 col-md-6 row mt-4 text-right px-0" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
            <div class="col-12 col-md-8 d-none d-md-block mt-2 pr-0">
              <h3>Latest Release:</h3>
              <a target="_blank" class="release-color" href="/releases/{{ releases.last.year }}{{ releases.last.link }}/{{ releases.last.release }}">
                <style>
                  .release-color {
                    color: #00ffe9;
                  }
                  .release-color:hover {
                    color: #fff!important;
                  }
                </style>
                <h5 class="font-weight-light">{{ releases.last.title }}<i class="ml-1 fas fa-external-link-alt"></i></h5>
              </a>
              <div><h5 class="font-weight-light" >by {{ releases.last.artists }}</h5></div>
              <small><p class="mb-4 mt-1">{{ releases.last.date | date: "%b %-d, %Y" }}</p></small>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block portfolio-block block-intro mt-2">
              <div class="avatar mt-1 mr-0" style="border-radius:0px">
                <img id="coverimage" src="https://bayzamusic.com/images/releases/{{ releases.last.year }}/{{ releases.last.cover }}.jpg" alt="" width="120px" height="120px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="latest releases" class="bg-darkest">
      <div class="container text-secondary py-5 text-center" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white" data-aos="fade-right">Latest Music</h3>
        <div class="row my-4 text-left">
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <div class="upcoming-container" data-aos="zoom-in">
                  <img class="img-fluid scale-on-hover upcoming" src="https://bayzamusic.com/images/releases/2020/lamentos.jpg">
                  <div class="centered">
                    <h4>Upcoming</h4>
                    <small><h5>Oct 31, 2020</h5></small>
                  </div>
                </div>
                  <h5 class="mb-0" data-aos="fade-left"><small><p class="mb-0 mt-2">Lamentos</p></small></h5>
                  <small><p class="mb-4" data-aos="fade-left">Bayza</p></small>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <div class="upcoming-container" data-aos="zoom-in">
                  <img class="img-fluid scale-on-hover upcoming" src="https://bayzamusic.com/images/releases/2020/reborn.jpg">
                  <div class="centered">
                    <h4>Upcoming</h4>
                    <small><h5>Oct 22, 2020</h5></small>
                  </div>
                </div>
                  <h5 class="mb-0" data-aos="fade-left"><small><p class="mb-0 mt-2">Reborn</p></small></h5>
                  <small><p class="mb-4" data-aos="fade-left">Bayza & Dimatis</p></small>
              </div>
            </div>
          </div>{% for item in sorted %}
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <a href="/releases/{{ item.year }}{{ item.link }}/{{ item.release }}">
                  <img data-aos="zoom-in" class="img-fx img-fluid scale-on-hover" src="https://bayzamusic.com/images/releases/{{ item.year }}/{{ item.cover }}.jpg" alt="{{ item.artists }} - {{ item.title }}">
                  <h5 class="mb-0" style="font-size: 1.25rem;" data-aos="fade-left"><small><p class="mb-0 mt-2">{{ item.title }}</p></small></h5>
                </a>
                <small><p class="mb-0" data-aos="fade-left">{{ item.artists }}</p></small>
                <small><p class="mb-4" data-aos="fade-right">{{ item.date | date: "%b %-d, %Y" }}</p></small>
              </div>
            </div>
          </div>{% if forloop.index0 == 9 %}{% break %}{% endif %}{% endfor %}
        </div>  
        <a class="btn btn-outline-releases px-4 py-1" href="/releases" data-aos="flip-left">See more</a>
      </div>
    </section>
    <section id="music" class="bg-dark text-secondary text-center py-5">
      <div class="container" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white" data-aos="fade-right">Music</h3>
        <h4 class="font-weight-light" data-aos="fade-left">Follow my music</h4>
        <div class="row text-white">
          <div class="col-lg-4" data-aos="flip-down">
            <div class="m-3 bg-darkest rounded-lg py-3">
              <div class="panel pb-2">
                <a class="text-white" target="_blank" href="https://open.spotify.com/artist/0UFz5jBFwlNKaq1JwESYnX?si=v8o8YvcnTQOEjbBcEQuxKw" title="Bayza's Spotify">
                  <i class="icon_card fab fa-spotify spotify_card rounded-circle border border-white" aria-hidden="true"></i>
                </a>
              </div>
              <h5 class="mt-3 text-uppercase font-weight-light">Spotify</h5>
              <div>
                <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0UFz5jBFwlNKaq1JwESYnX&size=detail&theme=dark" width="215" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
              </div>
              <br/>
              <div>
                <span id="button1">
                <button type="button" class="btn btn-outline-spotify px-4 py-1" onClick="show1()";><h5 class="font-weight-light m-0">Tracks</h5></button>
                </span>
              </div>
              <div id="spotify_tracks" class="mt-2">
                <iframe src="https://open.spotify.com/embed/playlist/6yUqy1WE8QI779eRuXrIKR" style="width: 95%;" height="390" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="flip-down">
            <div class="m-3 bg-darkest rounded-lg py-3">
              <div class="panel pb-2">
                <a class="text-white" target="_blank" href="https://soundcloud.com/bayza" title="Bayza's SoundCloud">
                  <i class="icon_card fab fa-soundcloud soundcloud_card rounded-circle border border-white" aria-hidden="true"></i>
                </a>
              </div>
              <h5 class="mt-3 text-uppercase font-weight-light">SoundCloud</h5>
              <div>
                <span id="button2">
                <button type="button" class="btn btn-outline-soundcloud px-4 py-1" onClick="show2()";><h5 class="font-weight-light m-0">Tracks</h5></button>
                </span>
              </div>
              <div id="soundcloud_tracks" class="mt-2">
                <iframe width="95%" height="500" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/38787166&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=true&show_teaser=true&visual=false"></iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="flip-down">
            <div class="m-3 bg-darkest rounded-lg py-3">
              <div class="panel pb-2">
                <a class="text-white" target="_blank" href="https://youtube.com/bayza" title="Bayza's YouTube">
                  <i class="icon_card fab fa-youtube youtube_card rounded-circle border border-white" aria-hidden="true"></i>
                </a>              
              </div>
              <h5 class="mt-3 text-uppercase font-weight-light">YouTube</h5>
              <div>
                <div class="g-ytsubscribe" data-channelid="UCl4DogCwQJKLh_dmYbfk9Mg" data-layout="full" data-theme="dark" data-count="default" width="210" height="56">
                </div>
              </div>
              <br/>
              <div>
                <span id="button3">
                <button  type="button" class="btn btn-outline-youtube px-4 py-1" onClick="show3()";><h5 class="font-weight-light m-0">Uploads</h5></button>
                </span>
              </div>
              <div id="youtube_videos" class="mt-2">
                <iframe width="300" height="169" src="https://www.youtube.com/embed/videoseries?list=UUl4DogCwQJKLh_dmYbfk9Mg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="bg-darkest text-secondary text-center py-5">
      <div class="container" style="overflow-x: hidden;">
        <h3 class="mt-3 text-uppercase text-white" data-aos="fade-right">About</h3>
        <div class="my-3 font-weight-light text-justify">
          <p data-aos="fade-left">
            Ahmed Rangel, also known as 
            <b><a href="https://open.spotify.com/artist/0UFz5jBFwlNKaq1JwESYnX?si=J2gUIe3FQJuz5hsK2olHoQ" target="_blank" title="Bayza Spotify">Bayza</a></b>, is a Electronic/Dance Music Producer from La Chorrera, Panama <i class="em em-flag-pa" aria-role="presentation" aria-label="Panama Flag"></i>. 
            Born in June 1998 (22 years old) and uses 
            <b><a href="https://www.image-line.com/flstudio/" target="_blank" title="Image-Line: FL Studio">FL Studio</a></b> for his music production, he started making music in 2012 but didn't released any track until 2014.
          </p>
          <p data-aos="fade-right">
            He started in 2014 releasing some Big Room House music during many years. It was until 2017 when he transitioned his style to 
            <b><a href="https://open.spotify.com/playlist/3wTRqy12kxA6SGVU8GDCO5?si=qJ5RBj2bTjS6yYC7DP3qiA" target="_blank" title="Melbourne Bounce Spotify Playlist">Melbourne Bounce</a></b>. Then, in 2018 he signed with the label Nelation Music known today as 
            <b><a href="https://www.youtube.com/user/TheBounceUnited" target="_blank" title="Bounce United YouTube Channel">United Music</a></b> releasing successful Melbourne Bounce tracks like
            <b><a href="https://bayzamusic.com/releases/2018/convergence" target="_blank" title="Bayza - Convergence">Convergence</a></b>, 
            <b><a href="https://bayzamusic.com/releases/2018/aether" target="_blank" title="Bayza - Aether">Aether</a></b>,
            <b><a href="https://bayzamusic.com/releases/2019/majestic" target="_blank" title="Bayza - Majestic">Majestic</a></b>, 
            and many others.
          </p>  
            
          <p data-aos="fade-left">In 2019 he transitioned one more time his style to 
            <b><a href="https://open.spotify.com/playlist/6ledEUxKplFir0Iq679geG?si=ZGpwmcDAQPmYL7RC3WUUnQ" target="_blank" title="Deep House Spotify Playlist">Deep House</a></b>, 
            he started firstly making remixes/bootlegs of famous Pop songs, then in September he self-released his first album called 
            <b><a href="https://open.spotify.com/album/6aKAlx72omE5lT4tbCAY2t?si=FhJqjpTtT_6pTkLo2bbLgQ" target="_blank" title="Genuine Album">Genuine</a></b> having some successful tracks like 
            <b><a href="https://bayzamusic.com/releases/2019/romance" target="_blank" title="Bayza - Romance">Romance</a></b>, 
            <b><a href="https://bayzamusic.com/releases/2019/genuine" target="_blank" title="Bayza - Genuine">Genuine</a></b>, 
            <b><a href="https://bayzamusic.com/releases/2019/love" target="_blank" title="Bayza - Love">Love</a></b>; 
            then, he signed with the label 
            <b><a href="https://www.youtube.com/channel/UCJzLU9cVzVSkpkATGJu2nOg" target="_blank" title="PalmTherapySounds YouTube Channel">PalmTherapySounds</a></b>, and also signed with the label 
            <b><a href="https://www.youtube.com/channel/UC8KCGnqoW1SXM00dwEHCPIw" target="_blank" title="Miss DeepShine YouTube Channel">DeepShine Records</a></b>, both in December.
          </p>

          <p data-aos="fade-right">
            In 2020 he continued to focus on producing Deep House music mainly. He signed with the label
            <b><a href="https://www.youtube.com/channel/UCqslpVmjQHieXjqr3oOfteg" target="_blank" title="One Seven Music YouTube Channel">One Seven Music</a></b> (a part of Sony Music Entertainment) in conjunction with
            <b><a href="https://www.youtube.com/channel/UCoo_WkQMj2h-WFi7nBQjtyw" target="_blank" title="FRQNCY YouTube Channel">FRQNCY</a></b> releasing
            <b><a href="https://bayzamusic.com/releases/2020/everythingiwanted" target="_blank" title="Bayza - Everything I Wanted">Everything I Wanted</a></b>, a cover of Billie Eilish's hit. 
          </p>
        </div>
      </div>
    </section>
{% include footer.html %}
{% include scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script>
      function colorChange(){
        //Be sure to include <img id="coverImage" src="" alt=""/>
        var $myImage = $("#coverimage");
        var colorThief = new ColorThief();
        
        //Grabs 8 swatch color palette from image and sets quality to 5 (0 =slow, 10=default/fast)
        var cp = colorThief.getPalette($myImage[0], 8, 5);
        
        //Sets background to 3rd color in the palette.
        $('release-color').attr('style', 'color: rgb('+cp[3][0]+','+cp[3][1]+','+cp[3][2]+') !important');
        console.log(cp);
      }

      $(document).ready(function() {
        //Make sure image is loaded before running.
        colorChange();
      });
    </script>
    <script>
      $(document).ready(function(){
        $("#button1").click(function(){
          $("#spotify_tracks").slideToggle("slow");
        });
      });

      function show1(){
          document.getElementById("button1").innerHTML= '<button  type="button" class="btn btn-outline-spotify px-4 py-1" onClick="hide1()";><h5 class="font-weight-light m-0">Hide Tracks</h5></button>';
      }
      function hide1(){
          document.getElementById("button1").innerHTML= '<button  type="button" class="btn btn-outline-spotify px-4 py-1" onClick="show1()";><h5 class="font-weight-light m-0">Tracks</h5></button>';
      }
    </script>
    <script>
      $(document).ready(function(){
        $("#button2").click(function(){
          $("#soundcloud_tracks").slideToggle("slow");
        });
      });

      function show2(){
          document.getElementById("button2").innerHTML= '<button  type="button" class="btn btn-outline-soundcloud px-4 py-1" onClick="hide2()";><h5 class="font-weight-light m-0">Hide Tracks</h5></button>';
      }
      function hide2(){
          document.getElementById("button2").innerHTML= '<button  type="button" class="btn btn-outline-soundcloud px-4 py-1" onClick="show2()";><h5 class="font-weight-light m-0">Tracks</h5></button>';
      }
    </script>
    <script>
      $(document).ready(function(){
        $("#button3").click(function(){
          $("#youtube_videos").slideToggle("slow");
        });
      });

      function show3(){
          document.getElementById("button3").innerHTML= '<button  type="button" class="btn btn-outline-youtube px-4 py-1" onClick="hide3()";><h5 class="font-weight-light m-0">Hide Uploads</h5></button>';
      }
      function hide3(){
          document.getElementById("button3").innerHTML= '<button  type="button" class="btn btn-outline-youtube px-4 py-1" onClick="show3()";><h5 class="font-weight-light m-0">Uploads</h5></button>';
      }
    </script>
  </body>
</html>