 
{%- assign data = site.data.releases | where: 'release', page.release -%}
{%- assign release = data[0] -%}
{%- if release.cover -%}
  {%- assign cover = release.cover -%}
{%- else -%}
  {%- assign cover = release.release -%}
{%- endif -%}
{%- assign sorted = site.data.releases | sort: 'date' | reverse -%}

<html lang="en">
  <head>
    <title>{{ release.title }} | Bayza</title>
    <!-- Metadatos -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="{{ release.title }}, {{ release.genre }}, {{ release.year }}, electro, EDM, music" />
    <meta name="description" content="{{ release.artists }} - {{ release.title }}"/>

    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="https://bayzamusic.com/releases/{{ release.year }}{{ page.link }}/{{ release.release }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ release.artists }} - {{ release.title }}"/>
    <meta property="og:site_name" content="Bayza"/>
    <meta property="og:image" content="https://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg"/>
    <meta property="og:image:alt" content="{{ release.title }} cover image"/>
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="500"/>
    <meta property="og:description" content="{{ release.artists }} - {{ release.title }}"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg"/>
    <meta name="twitter:title" content="{{ release.artists }} - {{ release.title }}">
    <meta name="twitter:description" content="{{ release.artists }} - {{ release.title }}">
    <meta name="twitter:site" content="@bayzamusic"/>

    <!-- Recursos -->
{% include resources.html %}
    <link rel="canonical" href="https://bayzamusic.com/releases/{{ release.year }}{{ page.link }}/{{ release.release }}"/>
    <script type="application/ld+json">
      {   
        "@context" : "http://schema.org",
        "@type" : "MusicRecording",
        "name" : "{{ release.title }}",
        "url" : "https://bayzamusic.com/releases/{{ release.year }}/{{ release.release }}",
        "image" : "https://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg",
        "genre" : "{{ release.genre }}",
        "duration" : "{{ release.duration }}",
        "datePublished": "{{ release.date }}",
        "byArtist": [
          {
            "@type": "MusicGroup",
            "name": "{{ release.artists }}"
          }
        ]
      }
    </script>
  </head>
  <body>
{% include navbar.html %}
<style>
  @media (min-width: 1200px) {
      .container {
          max-width: 1140px!important;
      }
  }
</style>
    <section id="releases" class="bg-darkest">
        <div class="container text-secondary text-center pt-3 pb-4 px-3">
          <h3 class="mt-5 text-uppercase text-white">{{ release.title }}</h3>
          <h4 class="font-weight-light mb-0">{{ release.artists }}</h4>
          <div id="reproductor" class="mr-5 ml-5 px-5">
          	<div class="text-center py-3">
            	<div class="video-container">
            	  <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/{{ release.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            	</div>
          	</div>
          </div>
          <div id="track-info" class="row mt-4 pb-4">
            <div class="col-12 col-lg-5 info text-center mb-3">
              <img class="img-fx img-fluid release-color-covers" src="https://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg" alt="{{ release.artists }} - {{ release.title }}">
            </div>
            <div class="col-12 col-lg-7 meta text-justify">
              <div class="tags">{% if release.description %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Description:</span></h5>
                <h6 class="mb-2"><span class="">{{ release.description }}</span></h6>{% endif %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Genre:</span></h5>
                <h6 class="mb-2"><span class="tag">{{ release.genre }}</span></h6>{% if release.album %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Album:</span></h5>
                <h6 class="mb-2"><span class="tag">{{ release.album }}</span></h6>{% endif %}{% if release.label %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Label:</span></h5>
                <h6 class="mb-2"><span class="tag">{{ release.label }}</span></h6>{% endif %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Release date:</span></h5>
                <h6 class="mb-2"><span class="tag">{{ release.date | date_to_string: "ordinal", "US" }}</span></h6>
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Duration:</span></h5>
                <h6 class="mb-2"><span class="tag">{{ release.duration }}</span></h6>{% if release.fanlink %}
                <h5 class="mb-0"><span class="meta-heading mb-0 text-white">Fanlink:</span></h5>
                <h6 class="mb-4"><span><a class="tag" target="_blank" href="https://{{ release.fanlink }}">{{ release.fanlink }}<i class="ml-1 fas fa-external-link-alt"></i></a></span></h6>{% endif %}
                <div id="platforms" class="mt-2 d-flex flex-wrap justify-content-left"></div>
              </div>
            </div>
          </div>
          <div style="border-top: 2px solid #bbbbbb; width: 30%;"></div>
          <div id="more_tracks" class="pt-4 text-left">
            <div id="more_releases" class="pb-4"></div>
            <div class="row">
              {% assign i = 0 %}
              {% for item in sorted %}
              {% if item.release != page.release and item.type == release.type %}
              <div class="col-6 col-lg-3">
                <div class="item">
                  <div class="cover">
                    <a href="/releases/{{ item.year }}{{ item.link }}/{{ item.release }}">
                      <div class="overflow-hidden">
                        <img id="covers" class="img-fx img-fluid release-color-covers scale-on-hover" src="https://bayzamusic.com/images/releases/{{ item.year }}/{{ item.cover }}.jpg" alt="{{ item.artists }} - {{ item.title }}">
                      </div>
                      <h5 class="mb-0" style="font-size: 1.25rem;"><small><p class="mb-0 mt-2">{{ item.title }}</p></small></h5>
                    </a>
                    <small><p class="mb-0">{{ item.artists }}</p></small>
                    <small><p class="mb-4">{{ item.date | date: "%b %-d, %Y" }}</p></small>
                  </div>
                </div>
              </div>{% assign i = i | plus:1 %}{% endif %}{% if i == 8 %}{% break %}{% endif %}{% endfor %}
            </div>
          </div>
        </div>
      </section>
{% include footer.html %}
{% include scripts.html %}
<script>

$(function() {
  let release_type = "{{ page.type }}";
  let type_page;
  if (release_type == "Releases") {
    release_type = "releases";
    type_page = "all";
  }
  else {
    release_type = "bootlegs";
    type_page = "all-bootlegs";
  }

  $("#more_releases").append("<h4 class='m-0 text-white'>More <a class='tag' href='/releases/"+ type_page +"'>"+ release_type +"</a> by Bayza</h4>");
  
  $.getJSON("/json/fanlinks.json", function(result) {
    let str = "{{ release.release }}";
    let release_str;
    let store_title;
    let icon = "";
    let stores_array = [];
    let key = 0;
    if (str == "lo-vas-a-olvidar"){
      release_str = "lvao";
    }
    else if (str == "everythingiwanted"){
      release_str = "everything-i-wanted";
    }
    else if (str == "desert-rose-enta-omri"){
      release_str = "desert-rose";
    }
    else if (str == "my-head-my-heart" || str == "without-you" || str == "no-guarantee" || str == "hold-on-to-me" || str == "make-believe" || str == "not-my-baby" || str == "still-learning" || str == "strawberry-shortcake"){
      release_str = str;
    }
    else {
      release_str = str.replace(/-/g, "");
    }
    $.each(result[release_str][0], function(i, stores){
      console.log(result[release_str][i]);
      if(stores !== "" && i !== "dark" && i !== "title" && i !== "artists" && i !== "date" && i !== "image" && i !== "image_secure" && i !== "tidal-buy" && i !== "amazon-music" && i !== "download" && i !== "anghami"){
        if (i == "itunes"){
          store_title = "iTunes";
          icon = "fab fa-itunes-note";
        } 
        else if (i == "beatport"){
          store_title = "Beatport";
          icon = "iconify' data-icon='simple-icons:"+i+"'";
        }
        else if (i == "spotify"){
          store_title = "Spotify";
          icon = "fab fa-"+i;
        }
        else if (i == "apple"){
          store_title = "Apple Music";
          icon = "fab fa-"+i;
        }
        else if (i == "soundcloud"){
          store_title = "SoundCloud";
          icon = "fab fa-"+i;
        }
        else if (i == "youtube"){
          store_title = "YouTube";
          icon = "fab fa-"+i;
        }
        else if (i == "amazon"){
          store_title = "Amazon";
          icon = "fab fa-"+i;
        }
        else if (i == "deezer"){
          store_title = "Deezer";
          icon = "fab fa-"+i;
        }
        else if (i == "napster"){
          store_title = "Napster";
          icon = "fab fa-"+i;
        }
        else if (i == "tiktok"){
          store_title = "TikTok";
          icon = "fab fa-"+i;
        }
        else if (i == "yandex"){
          store_title = "Yandex Music";
          icon = "fab fa-"+i;
        }
        else if (i == "bandcamp"){
          store_title = "Bandcamp";
          icon = "fab fa-"+i;
        }
        else if (i == "tidal"){
          store_title = "Tidal";
          icon = "iconify' data-icon='simple-icons:"+i+"'";
        }
        else{
          icon = "fab fa-"+i;
        }
        stores_array.push({id:i, store_title: store_title, stores: stores, icon:icon, key:key});
        key = key + 1
      }
    });
    let stores_order = ["spotify","apple","soundcloud","youtube","deezer","beatport","itunes","yandex","anghami","amazon","tidal","napster","tiktok","bandcamp"];
    const sortedObj = stores_array.sort((a, b) => {
        return (
            stores_order.indexOf(a.id) - stores_order.indexOf(b.id)
        );
    });
    console.log(sortedObj);
    $.each(sortedObj, function(i, value){
      $("#platforms").append(
            "<div class='mr-2 mb-2' title='"+ value.store_title +"'><a class='icons-fx text-white platform-icons "+ value.id +"_card rounded-circle' href="+ value.stores +" target='_blank''><i class='fa-fw "+ value.icon +"' aria-hidden='true' role='img'></i></a></div>");
          console.log(value.stores);
      });
    });
});
</script>
  </body>
</html>