{%- assign sorted = site.data.releases | sort: 'date' | reverse | where: "year", page.year | where: "type", page.type -%}
<html lang="en">
  <head>  
    <title>{{ page.year }} {{page.extra}} |  {{ page.type }} | Bayza</title>
    <!-- Metadatos -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#282828"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="{{ page.year }}, bounce, music, EDM, dance, deep house, oriental, {{ page.type }}" />
    <meta name="description" content="{{ page.year }} {{ page.type }}."/>
    
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="https://bayzamusic.com/releases/{{ page.year }}{{ page.link }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bayza {{ page.year }} {{ page.type }}"/>
    <meta property="og:site_name" content="Bayza"/>
    <meta property="og:image" content="https://bayzamusic.com/images/{{ page.year }}{{ page.link }}bayzacom.jpg"/>
    <meta property="og:image:alt" content="Bayza cover image"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:description" content="{{ page.year }} {{ page.type }}"/>
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://bayzamusic.com/images/{{ page.year }}{{ page.link }}bayzacom.jpg"/>
    <meta name="twitter:title" content="Bayza {{ page.year }} {{ page.type }}">
    <meta name="twitter:description" content="{{ page.year }} {{ page.type }}">
    <meta name="twitter:site" content="@bayzamusic"/>
    
    <!-- Recursos -->
    <link rel="icon" href="/images/logomt.jpg"/>
    <link rel="shortcut icon" href="/images/logomt.jpg"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/fontello-embedded.css">
    <link rel="stylesheet" href="/css/bayza.css"/>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="canonical" href="https://bayzamusic.com/releases/{{ page.year }}{{ page.link }}"/>
  </head>

  </body>
  {% include navbar.html %}
    <section id="releases" class="bg-darkest-est">
      <div class="container text-secondary text-center py-5">
        <h3 class="mt-5 text-uppercase text-white">{{ page.extra }} {{ page.type }}</h3>
        <h4 class="font-weight-light">{{ page.year }}</h4>
        <div class="row my-4 text-left">{% for item in sorted %}
          <div class="col-6 col-lg-3">
            <div class="item">
              <div class="cover">
                <a href="/releases/{{ item.year }}{{ page.link }}/{{ item.release }}">
                  <img class="img-fluid scale-on-hover" src="https://bayzamusic.com/images/releases/{{ item.year }}/{{ item.cover }}.jpg" alt="{{ item.artists }} - {{ item.title }}">
                  <h5 class="mb-0" style="font-size: 1.25rem;"><small><p class="mb-0 mt-2">{{ item.title }}</p></small></h5>    
                </a>
                <small><p class="mb-0">{{ item.artists }}</p></small> 
                <small><p class="mb-4">{{ item.date | date: "%b %-d, %Y" }}</p></small>
              </div>
            </div>
          </div>{% endfor %}
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>