 
{%- assign data = site.data.releases | where: 'release', page.release -%}
{%- assign release = data[0] -%}
{%- if release.cover -%}
  {%- assign cover = release.cover -%}
{%- else -%}
  {%- assign cover = release.release -%}
{%- endif -%}
{%- assign sorted = site.data.releases | sort: 'date' | reverse -%}
{% assign day = page.date | date: "%-d"  %}
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}st
  {% when '2' or '22' %}{{ day }}nd
  {% when '3' or '23' %}{{ day }}rd
  {% else %}{{ day }}th
{% endcase %}
<html lang="en">
  <head>
    <title>{{ release.artists }} - {{ release.title }} | Bayza</title>
    <!-- Metadatos -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#282828"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="{{ release.title }}, {{ release.genre }}, {{ release.year }}, electro, EDM, music" />
    <meta name="description" content="{{ release.artists }} - {{ release.title }}."/>

    <!-- Protocolo Open Graph -->
    <meta property="og:secure_url" content="http://bayzamusic.com/releases/{{ release.year }}{{ page.link }}/{{ release.release }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ release.artists }} - {{ release.title }}"/>
    <meta property="og:site_name" content="Bayza"/>
    <meta property="og:image" content="http://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg"/>
    <meta property="og:image:alt" content="{{ release.title }} cover image"/>
    <meta property="og:description" content="{{ release.description }}"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://bayzamusic.com/images/releases/{{ release.year }}/{{ release.cover }}.jpg"/>
    <meta name="twitter:title" content="{{ release.artists }} - {{ release.title }}">
    <meta name="twitter:description" content="{{ release.description }}">
    <meta name="twitter:site" content="@bayzamusic"/>

    <!-- Recursos -->
    <link rel="icon" href="/images/logomt.jpg"/>
    <link rel="shortcut icon" href="/images/logomt.jpg"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/fontello-embedded.css">
    <link rel="stylesheet" href="/css/bayza.css"/>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="canonical" href="https://bayzamusic.com/releases/{{ release.year }}/{{ release.release }}"/>
  </head>

  </body>
  {% include navbar.html %}
    <section id="releases" class="bg-darkest-est">
        <div class="container text-secondary text-center py-3 px-3">
          <h3 class="mt-5 text-uppercase text-white">{{ release.title }}</h3>
          <h4 class="font-weight-light mb-0">{{ release.artists }}</h4>
          <div id="reproductor" class="mr-5 ml-5 px-5">
          	<div class="text-center py-3">
            	<div class="video-container">
            	  <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ release.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            	</div>
          	</div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8 info text-justify">
              <h4 class="text-white">Description</h3>
                <h6>{{ release.description }}</h6>
            </div>
            <div class="col-12 col-md-4 meta text-justify">
              <div class="tags">
                <h5><span class="meta-heading mb-0">Genre</span></h5>
                <h6>{{ release.genre }}</h6>
                <h5><span class="meta-heading mb-0">Release date</span></h5>
                <h6>{{ release.date | date: "of %B, %Y" }}</h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include footer.html %}
      {% include scripts.html %}
  </body>
</html>